<div style="margin-bottom: 2em" class="box-cover">
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select id="lang" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs(); let i = index" [value]="lang" [selected]="lang === translate.currentLang">{{contactMethods[i][lang]}}</option>
    </select>
  </label>
  <br>
  <br>

  <h4>Search flights</h4>
  <form [formGroup]="form">
  <mat-checkbox
    #roundtripCheckbox
    [checked]="flght"
    (change)="typeOfFlightChanged()"
    class="checkbox"
    >{{ 'LANDING.ROUNDTRIP' | translate }}</mat-checkbox
  >
  <mat-checkbox
    #onewayCheckbox
    [checked]="!flght"
    (change)="typeOfFlightChanged()"
    class="checkbox"
    >{{ 'LANDING.ONEWAY' | translate }}</mat-checkbox
  >
  <br />
  <mat-checkbox
    #economy
    [checked]="clss"
    (change)="typeOfClassChanged()"
    class="checkbox"
    >{{ 'LANDING.ECONOMY' | translate }}</mat-checkbox
  >
  <mat-checkbox
    #firstclass
    [checked]="!clss"
    (change)="typeOfClassChanged()"
    class="checkbox"
    >{{ 'LANDING.FIRST_CLASS' | translate }}</mat-checkbox
  >
  <br />
  <input
  *ngIf="inputFrom === ''"
    formControlName="flightFrom"
    class="form-control"
    id="flights-from"
    (keyup.enter)="searchAirports(city, 'from')"
    (blur)="inputBlur()"
    #city
    type="search"
    placeholder="Flying from (enter city)"
    (input)="filterItem(city.value, 'from')"
  />
  <input
    *ngIf="inputFrom !== ''"
    formControlName="flightFrom"
    class="form-control"
    id="flights-from"
    [(ngModel)]="inputFrom"
    (keyup.enter)="searchAirports(city, 'from')"
    (blur)="inputBlur()"
    #city
    type="search"
    placeholder="Flying from (enter city)"
    (input)="filterItem(city.value, 'from')"
  />
  <div *ngIf="invalidSearch">
    <div
        *ngIf="form.get('flightFrom')?.invalid"
        class="alert alert-danger" id="error"
      >
        <div *ngIf="form.get('flightFrom')?.errors.required">
          Input is required.
        </div>
      </div>
  </div>
  <input
    *ngIf="inputTo === ''"
    formControlName="flightTo"
    class="form-control"
    id="flights-to"
    (keyup.enter)="searchAirports(toCity, 'to')"
    (blur)="inputBlur()"
    #toCity
    type="search"
    placeholder="Flying to (enter city)"
    (input)="filterItem(toCity.value, 'to')"
  />
  <input
    *ngIf="inputTo !== ''"
    formControlName="flightTo"
    class="form-control"
    id="flights-to"
    [(ngModel)]="inputTo"
    (keyup.enter)="searchAirports(toCity, 'to')"
    (blur)="inputBlur()"
    #toCity
    type="search"
    placeholder="Flying to (enter city)"
    (input)="filterItem(toCity.value, 'to')"
  />
  <div *ngIf="invalidSearch">
  <div
      *ngIf="form.get('flightTo')?.invalid"
      class="alert alert-danger" id="error" style="margin-left: 475px;"
    >
      <div *ngIf="form.get('flightTo')?.errors.required">
        Input is required.
      </div>
    </div>
    </div>
  <ul *ngIf="dropdownVisible" class="list-group" (mouseenter)="toggleMouseOver(true)"
  (mouseleave)="toggleMouseOver(false)">
    <li
      *ngFor="let airport of temp"
      class="list-group-item"
      id="{{ firstInput }}"
      (click)="setAirlines(airport)"
    >
      {{ airport }}
    </li>
  </ul>
  <ul *ngIf="airportsDropdown" id="{{ firstInput }}" class="list-group" (mouseenter)="toggleMouseOver(true)"
  (mouseleave)="toggleMouseOver(false)">
    <li
      *ngFor="let airport of airports1"
      class="list-group-item"
      (click)="setAirlines(airport)"
    >
      {{ airport }}
    </li>
  </ul>
  <br />
  <br />
  <!-- <span style="color: black; margin-right: 12%">{{ 'LANDING.DEPARTING' | translate }}</span>
  <span *ngIf="roundtripCheckbox.checked" style="color: black">{{ 'LANDING.RETURNING' | translate }}</span> -->
  <br />
  <div
    class="row"
    style="width: 100%; height: 10%; margin: 0; padding: 0; border: none;"
  >
    <div class="col" id="col1">
      <span style="color: black;">{{ 'LANDING.DEPARTING' | translate }}</span>
      <br>
      <mat-form-field class="date-picker">
        <mat-label>mm/dd/yyyy</mat-label>
        <input
          formControlName="departingDatePicker"
          class="form-control"
          matInput
          [matDatepicker]="datePicker"
          (focus)="datePicker.open()"
          [min]="minDate"
          [max]="maxDate"
          (dateChange)="dateSelected('checkin', $event)"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="invalidSearch">
      <div
      *ngIf="form.get('departingDatePicker')?.invalid"
      class="alert alert-danger" id="error" style="margin-top:0;"
    >
      <div *ngIf="form.get('departingDatePicker')?.errors.required">
        {{ 'LANDING.ERROR1' | translate }}
      </div>
    </div>
    </div>
    </div>
    <div class="col" style="padding: 0;">
      <span *ngIf="roundtripCheckbox.checked" style="color: black">{{ 'LANDING.RETURNING' | translate }}</span>
      <br>
      <mat-form-field *ngIf="roundtripCheckbox.checked" class="date-picker">
        <mat-label>mm/dd/yyyy</mat-label>
        <input
        formControlName="returningDatePicker"
    class="form-control"
          matInput
          [matDatepicker]="datePicker1"
          (focus)="datePicker1.open()"
          [min]="minDate1"
          [max]="maxDate1"
          required
          (dateChange)="dateSelected('checkout', $event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>
      <div *ngIf="invalidSearch">
      <div
      *ngIf="form.get('returningDatePicker')?.invalid && roundtripCheckbox.checked"
      class="alert alert-danger" id="error" style="margin-top:0;"
    >
      <div *ngIf="form.get('returningDatePicker')?.errors.required">
        {{ 'LANDING.ERROR1' | translate }}
      </div>
    </div>
    </div>
    </div>
    <div class="col" style="padding-top: 15px; padding-right: 0">
      <span class="counts-label" for="adultsCount">{{ 'LANDING.ADULTS' | translate }}(18+)</span>
      <span class="counts-label" for="childrensCount">{{ 'LANDING.CHILDREN' | translate }}(0-17)</span>
      <br />
      <select
        id="personCount"
        (change)="getPeopleCount('adult', $event.target.value)"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <select
        id="personCount"
        (change)="getPeopleCount('children', $event.target.value)"
      >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="col" style="padding-top: 15px;">
      <button
        (click)="showDepartureFlights()"
        class="search-button"
      >
        {{ 'LANDING.SEARCH' | translate }}
      </button>
    </div>
  </div>
  </form>
</div>
<div *ngIf="noTripsAvailable" class="flights-container">
  <div class="row" style="margin-left: 15em; margin-top: 30px;">
      <div class="col">
          <h5 style="color: red;">We couldn't find any flights from {{flyFrom}} to {{flyTo}} on {{departingDate}}</h5>
          <span style="font-size: 17px; font-weight: bold;">Here are some tips to find flights:</span>
          <ul style="list-style-type:disc; margin-left: 2em;">
            <li>Adjust your arrival or departure to a nearby airport.</li>
            <li>Try arriving or departing one day earlier or later.</li>
          </ul>
      </div>
    </div>
  </div>
  <div
    *ngIf="!noTripsAvailable && showDepartingFlights && !showReturningFlights"
    class="flights-container"
  >
    <br />
    <div id="inner-container">
      <h4 style="margin-bottom: 10px">
        Select your departure to {{ departingCity }}
        <p style="display: inline; font-size:17px">{{ departingDate }}</p>
      </h4>
      <div
        *ngFor="let flight of departingFlights | paginate
        : {
            id: 'departing_pagination',
            itemsPerPage: 5,
            currentPage: page,
            totalItems: departureRecords
          }; let i = index"
        class="flights"
      >
        <div class="row" style="background-color: white;">
          <div class="col" style="padding-right: 0; padding-left: 7px;">
            <h5 style="font-weight: bold; font-size: 19px;">{{ flight?.time }}</h5>
            <h6>{{ flight?.name }}</h6>
            <br />
            <button
              class="fa fa-angle-down"
              id="details-baggage-button"
              (click)="detailsAndBaggageClicked(flight?.time)"
            >
              Details & baggage fees
            </button>
          </div>
          <div class="col-5" style="padding-left: 20px">
            <span class="flightDuration">{{ flight?.departureDuration }}</span>
            <div (click)="showServices()" style="display: inline; cursor: pointer;">
              <span class="fa fa-wifi" id="wifi"></span>
              <span class="fa fa-play" id="play"></span>
              <span class="fa fa-bolt" id="bolt"></span>
            </div>
            <div *ngIf="showService" (blur)="blurServices()" style="background-color: #003e74; color: white; position: absolute; z-index: 1; padding: 15px;">
                <span class="fa fa-wifi" id="wifi"></span>
                <span>Wi-Fi on this flight</span>
                <br>
                <span class="fa fa-play" id="play"></span>
                <span>Entertainment on this flight</span>
                <br>
                <span class="fa fa-bolt" id="power"></span>
                <span>Power on this flight</span>
            </div>
            <h6>{{ flight?.totalStops }}</h6>
          </div>
          <div class="col-sm">
            <h5
              *ngIf="classType === 'economy'"
              style="font-weight: bold; padding-right: 15px"
            >
              ${{ flight?.economyPrice }}
              <p style="font-weight: normal; font-size: 15px">
                {{ flightType }}
              </p>
            </h5>
            <h5
              *ngIf="classType === 'firstclass'"
              style="font-weight: bold; padding-right: 15px"
            >
              ${{ flight?.firstclassPrice }}
              <p style="font-weight: normal; font-size: 15px">
                {{ flightType }}
              </p>
            </h5>
            <button
              class="select-button"
              (click)="showReturnFlights(flight?.time)"
            >
              Select
            </button>
          </div>
        </div>
        <div
          *ngIf="flightTime === flight?.time && showDetailsAndBaggage"
          class="row"
          id="details-row"
        >
          <div class="col-4">
            <h5 *ngFor="let time of stopTimes[i]" style="padding-bottom: 50px">
              {{ time }}
            </h5>
            <p
              style="font-size: 15px; text-align: right; padding-top: 6px; color: #616161;"
            >
              Estimated bag fees
            </p>
          </div>
          <div class="col-8">
            <div *ngFor="let duration of stopDurations[i]; let k = index">
              <h5>{{ duration }}</h5>
              <p style="font-size: 15px; color: #616161;">
                {{ stops[i][k] }}
              </p>
            </div>
            <p
              style="font-size: 15px; padding-top: 15px; margin: 0; color: #616161;"
            >
              Carry on: No fee
            </p>
            <div *ngIf="classType === 'economy'">
              <p style="font-size: 15px; margin: 0; color: #616161;">
                1st checked bag: $30.00 up to 23 kg
              </p>
              <p style="font-size: 15px; margin: 0; color: #616161;">
                2nd checked bag: $40.00 up to 23 kg
              </p>
            </div>
            <div *ngIf="classType === 'firstclass'">
              <p style="font-size: 15px; margin: 0; color: #616161;">
                1st checked bag: No fee up to 23 kg
              </p>
              <p style="font-size: 15px; margin: 0; color: #616161;">
                2nd checked bag: No fee up to 23 kg
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <pagination-controls
          id="departing_pagination"
          autoHide="true"
          directionLinks="true"
          (pageChange)="page = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div *ngIf="showReturningFlights" class="flights-container">
    <br />
    <div id="inner-container">
      <div class="row" style="background-color: #EDF7FF">
        <div class="col" style="padding-right: 0; padding-left: 7px;">
          <p style="font-size:15px; font-weight: bold;">
            Your selected departure
          </p>
          <h5 style="font-weight: bold; font-size: 18px;">{{ departureTime }}</h5>
          <h6>{{ departureName }}</h6>
        </div>
        <div class="col-5" style="padding-left:20px">
            <p style="font-size:15px; font-weight: bold;">
              {{ departingDate }}
            </p>
          <h6 style="padding-top: 3px">{{ departureDur }}</h6>
          <h6>{{ departureStops }}</h6>
        </div>
        <div class="col-sm">
          <button
            class="fa fa-arrow-left"
            id="back-button"
            (click)="goBack2DepartingFlights()"
          >
            Change Departure
          </button>
          <h5 style="font-weight: bold; padding-right: 15px; padding-top: 7px">
            <p style="font-weight: normal; font-size: 15px; display: inline">
              from
            </p>
            ${{ departurePrice }}
            <p style="font-weight: normal; font-size: 15px">
              roundtrip
            </p>
          </h5>
        </div>
      </div>
      <br />
      <br />
      <h4>
        Select your return to {{ returningCity }}
        <p style="display: inline; font-size:17px">{{ returningDate }}</p>
        <p></p>
      </h4>
      <div *ngFor="let flight of returningFlights | paginate
      : {
          id: 'returning_pagination',
          itemsPerPage: 4,
          currentPage: page,
          totalItems: returnRecords
        }; let i = index">
        <div *ngIf="flight[classType]" class="row" style="background-color: white;">
          <div class="col" style="padding-right: 0; padding-left: 7px;">
            <h5 style="font-weight: bold; font-size: 19px;">{{ flight?.time }}</h5>
            <h6>{{ flight?.name }}</h6>
            <br />
            <button
              class="fa fa-angle-down"
              id="details-baggage-button"
              (click)="detailsAndBaggageClicked(flight?.time)"
            >
              Details & baggage fees
            </button>
          </div>
          <div class="col-5" style="padding-left: 20px">
            <span class="flightDuration">{{ flight?.returnDuration }}</span>
            <span class="fa fa-wifi" id="wifi"></span>
            <span class="fa fa-play" id="play"></span>
            <span class="fa fa-bolt" id="bolt"></span>
            <h6>{{ flight?.totalStops }}</h6>
          </div>
          <div class="col-sm">
            <h5
              *ngIf="classType === 'economy'"
              style="font-weight: bold; padding-right: 8px"
            >
              + ${{ flight?.economyPrice }}
              <p style="font-weight: normal; font-size: 15px">
                {{ flightType }}
              </p>
            </h5>
            <h5
              *ngIf="classType === 'firstclass'"
              style="font-weight: bold; padding-right: 8px"
            >
              + ${{ flight?.firstclassPrice }}
              <p style="font-weight: normal; font-size: 15px">
                {{ flightType }}
              </p>
            </h5>
            <button class="select-button" (click)="navigateToCheckout(flight?.time)">Select</button>
          </div>
        </div>
        <div
          *ngIf="flightTime === flight?.time && showDetailsAndBaggage"
          class="row"
          id="details-row"
        >
          <div class="col-4">
            <h5
              *ngFor="let time of returnstopTimes[i]"
              style="padding-bottom: 50px"
            >
              {{ time }}
            </h5>
            <p
              style="font-size: 15px; text-align: right; padding-top: 6px; color: #616161;"
            >
              Estimated bag fees
            </p>
          </div>
          <div class="col-8">
            <div *ngFor="let duration of returnstopDurations[i]; let k = index">
              <h5>{{ duration }}</h5>
              <p style="font-size: 15px; color: #616161;">
                {{ returnStops[i][k] }}
              </p>
            </div>
            <p
              style="font-size: 15px; padding-top: 15px; margin: 0; color: #616161;"
            >
              Carry on: No fee
            </p>
            <div *ngIf="classType === 'economy'">
              <p style="font-size: 15px; margin: 0; color: #616161;">
                1st checked bag: $30.00 up to 23 kg
              </p>
              <p style="font-size: 15px; margin: 0; color: #616161;">
                2nd checked bag: $40.00 up to 23 kg
              </p>
            </div>
            <div *ngIf="classType === 'firstclass'">
              <p style="font-size: 15px; margin: 0; color: #616161;">
                1st checked bag: No fee up to 23 kg
              </p>
              <p style="font-size: 15px; margin: 0; color: #616161;">
                2nd checked bag: No fee up to 23 kg
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <pagination-controls
          id="returning_pagination"
          autoHide="true"
          directionLinks="true"
          (pageChange)="page = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
