.flights-container {
  background-color: #bfccd980;
  position: absolute;

  left: 0;
  right: 0;
  height: 100%;
}
.box-cover {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 60px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(34, 159, 242, 0.5),
    rgba(54, 255, 54, 0.583) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.checkbox {
  padding-right: 20px;
}

.flights {
  margin-bottom: 15px;
}

.col-4 {
  width: 620px;
  height: 100%;
}

.col-8 {
  padding-left: 0;
}

.row {
  width: 65%;
  height: auto;
  max-height: 700px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding-top: 15px;
  margin: 0 0 15px 0;
}

#details-row {
  margin-top: -17px;
  border-top: 1px solid white;
  background-color: white;
}

#flights-from {
  position: absolute;
  height: 40px;
  width: 470px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

#flights-to {
  position: absolute;
  margin-left: 500px;
  height: 40px;
  width: 470px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.flights-from:hover {
  cursor: pointer;
}

.flights-to:hover {
  cursor: pointer;
}

#from {
  width: 470px;
}

#to {
  margin-left: 500px;
  width: 470px;
}

.list-group {
  margin-top: 40px;
  position: absolute;
  z-index: 1;
}

.list-group-item:hover {
  cursor: pointer;
}

#col1 {
  padding: 0;
}
/* #roundtrip {
  width: 100%;
  height: 50px;
  border-radius: 9px;
}

#oneway {
  width: 100%;
  height: 50px;
  border-radius: 9px;
} */

.date-picker {
  background-color: white;
  padding: 0;
  border-radius: 9px;
  width: 160px;
  height: 48px;
  border: 1px solid lightgray;
  margin-right: 8px;
  cursor: pointer;
}

.counts-label {
  font-size: 14px;
  padding-right: 5px;
}

.search-button {
  width: 100%;
  height: 50px;
  border-radius: 9px;
  margin: 0;
  background-color: #003e74;
  color: white;
  cursor: pointer;
}

.col-sm {
  text-align: right;
  padding-right: 30px;
}

#details-baggage-button {
  color: blue;
  font-size: 15px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.select-button {
  height: 45px;
  width: 90px;
  border-radius: 9px;
  cursor: pointer;
  color: white;
  background-color: #003e74;
}

#back-button {
  border: none;
  height: 30px;
  color: blue;
  font-size: 15px;
  background-color: #edf7ff;
}

#personCount {
  cursor: pointer;
  margin-right: 29%;
}

.flightDuration {
  padding-right: 10px;
}

/* fa icons styling */
#wifi {
  padding-right: 8px;
}

#play {
  padding-right: 8px;
}

#power {
  padding-right: 8px;
}

#error {
  position: absolute;
  z-index: 1;
  margin-top: 40px;
}

#inner-container {
  margin-left: 15em;
}

@media screen and (max-width: 420px) {
  .box-cover {
    padding: 10px;
    margin-left: 0px;
    margin-right: 5px;
  }

  #flights-from {
    width: 325px;
  }

  #flights-to {
    width: 325px;
    margin-top: 50px;
    margin-left: 0;
  }

  #from {
    width: 100%;
  }

  #to {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  #col1 {
    padding-top: 30px;
  }

  .date-picker {
    width: 100%;
  }

  #personCount {
    background-color: white;
  }

  #lang {
    background-color: white;
  }

  #inner-container {
    margin-left: 5px;
  }

  .row {
    width: 100%;
  }
}
