.container {
  border: 1px solid gray;
  width: 70%;
  padding-top: 25px;
  padding-bottom: 25px;
}

#checkmark {
  color: green;
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 9px;
  background-color: #003e74;
  color: white;
}
