<h4 style="margin-left: 3.7em;">{{ hotelName }}</h4>
<div class="row" style="width: 80%; height: 330px; margin-left: 5.5em;">
  <div class="col-8" style="padding: 0">
    <img [src]="image" alt="Hotel image" class="hotel-image" />
  </div>
  <div class="col-4" style="padding-top: 15px;">
    <span style="color: #505c66; font-size: 15px;">{{ ratings }}</span>
    <span style="margin-left: 3em; font-size: 14px; color: blue;"
      >{{ reviews }} reviews</span
    >
    <mat-divider style="margin-top: 15px; margin-bottom: 15px;"></mat-divider>
    <span>Amenities</span>
    <br />
    <span class="fa fa-wifi" style="padding-right: 5px; color: #505c66;"></span>
    <span style="padding-right: 4em; color: #505c66;">Free WiFi</span>
    <span class="fa fa-paw" style="padding-right: 5px; color: #505c66;"></span>
    <span style="padding: 0; color: #505c66;">Pet-Friendly</span>
    <span
      class="fa fa-check"
      style="padding-right: 5px; color: #505c66;"
    ></span>
    <span style="padding-right: 2em; color: #505c66;">Housekeeping</span>
    <span class="fa fa-cutlery" style="color: #505c66;"></span>
    <span style="padding: 0; color: #505c66;">Restaurant</span>
    <span class="fa fa-coffee" style="padding:0;color: #505c66;"></span>
    <span style="padding-right: 3px; color: #505c66;">Breakfast Available</span>
    <span
      class="fa fa-glass"
      style="padding-right: 5px; color: #505c66;"
    ></span>
    <span style="color: #505c66;">Bar</span>
    <mat-divider style="margin-top: 15px; margin-bottom: 10px;"></mat-divider>
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <span style="font-size: 14px; color: #505c66;">{{ hotelAddress }}</span>
    <br />
    <div style="text-align: center;">
      <button id="rec-attractions-button" (click)="goToAttractions()">
        Click to see <br />
        recommended attractions
      </button>
    </div>
  </div>
</div>
<div class="rooms-container">
  <br />
  <div style="margin-left: 10em">
    <h4 style="margin-bottom: 10px">
      Choose your room
    </h4>
    <div *ngFor="let room of rooms; let i = index" class="row">
      <div class="col-4">
        <img
          src="{{ room?.images.image1 }}"
          alt="Room image"
          class="room-image"
        />
      </div>
      <div class="col-6">
        <h5 class="room-name">
          {{ room?.name }}
        </h5>
        <span class="fa fa-ruler-horizontal"></span
        ><span class="room-details">{{ room?.dimensions }}</span>
        <br />
        <span class="fa fa-users"></span>
        <span class="room-details">{{ room?.capacity }}</span>
        <br />
        <span class="fa fa-bed"></span>
        <span class="room-details">{{ room?.beds }}</span>
        <br />
        <span class="fa fa-wifi"></span>
        <span class="room-details">Free WiFi</span>
        <br />
        <span class="fa fa-coffee"></span>
        <span class="room-details">Breakfast included</span>
      </div>
      <div class="col" id="thirdCol">
        <h5 *ngIf="adultsCount < roomCapacity[i]" class="room-price">
          ${{ room?.price }} <br />
          <p class="room-details">per night</p>
        </h5>
        <button
          *ngIf="adultsCount < roomCapacity[i]"
          class="reserve-button"
          (click)="reserveRoom(room?.name)"
        >
          Reserve
        </button>
        <h6 *ngIf="adultsCount > roomCapacity[i]" style="color: red">
          Exceeds max adults
        </h6>
      </div>
    </div>
  </div>
</div>
