<form [formGroup]="form" class="authentication-form">
  <h2 class="authentication-form-heading">Sign In to Your Account</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">
    Invalid email or password entered.
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      formControlName="email"
      id="email"
      type="text"
      class="form-control"
    />
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <div *ngIf="email.errors.cannotContainSpaces">
        Email cannot contain any spaces.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="password"
      class="form-control"
    />
    <div
      *ngIf="password.touched && password.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.cannotContainSpaces">
        Password cannot contain any spaces.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="signIn(form)">
    Login
  </button>
  <button class="navigate-signup-button" (click)="navigate2Signup()">
    Don't have an account? Sign up here
  </button>
</form>
