<div class="checkout">
  <h4>Secure booking - only takes a few minutes!</h4>
  <div *ngIf="params.get('city') === null" class="row" style="margin-top: 15px; margin-bottom: 15px; width: 95%;">
    <div class="col-8" style="height: 100%; padding-top: 15px; background-color: white;">
      <div *ngIf="currentUser === null" class="signin-container">
        <h5>Please sign in to continue</h5>
        <button class="signin-button" (click)="navigateToLogin()">
          Click here to sign in
        </button>
      </div>

      <mat-divider *ngIf="currentUser === null" class="divider"></mat-divider>
      <div
        *ngIf="params.get('city') !== null"
        class="row"
        style="margin-top: 15px;">

        <!-- include hotels checkout here -->
      </div>

      <div
        *ngIf="params.get('city') === null"
        class="row"
        style="margin-top: 15px;">
        <div class="col-4">
          <h5>{{ departingDate }}</h5>
          <h6 class="flightName">
            {{ departingFlightName }}
          </h6>
          <h5 class="flightTime">{{ departureTime }}</h5>
          <button
            class="fa fa-angle-down"
            id="details-button"
            (click)="toggleDepartingDetailsAndBaggage()">
            Show flight and baggage fee details
          </button>
        </div>
        <div class="col-8">
          <h6><span class="fromAirport">From</span>{{ departingAirport }}</h6>
          <h6><span class="toAirport">To</span>{{ returningAirport }}</h6>
          <h5 class="flightTotalDuration">
            {{ departureDuration }}
          </h5>
          <h6 class="flightTotalStops">
            {{ departureTotalStops }}
          </h6>
        </div>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div
        *ngIf="showDepartingDetailsAndBaggage"
        class="row"
        style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-4">
          <h5
            *ngFor="let time of departingTimes[0]"
            style="padding-bottom: 50px">
            {{ time }}
          </h5>
          <p
            style="font-size: 15px; text-align: right; padding-top: 6px; color: #616161;">
            Estimated bag fees
          </p>
        </div>
        <div class="col-8">
          <div *ngFor="let duration of departingDurations[0]; let k = index">
            <h5>{{ duration }}</h5>
            <p style="font-size: 15px; color: #616161;">
              {{ departingStops[0][k] }}
            </p>
          </div>
          <p class="baggage-fee-details" style="padding-top: 19px;">
            Carry on: No fee
          </p>
          <div *ngIf="classType === 'economy'">
            <p class="baggage-fee-details">
              1st checked bag: $30.00 up to 23 kg
            </p>
            <p class="baggage-fee-details">
              2nd checked bag: $40.00 up to 23 kg
            </p>
          </div>
          <div *ngIf="classType === 'firstclass'">
            <p class="baggage-fee-details">
              1st checked bag: No fee up to 23 kg
            </p>
            <p class="baggage-fee-details">
              2nd checked bag: No fee up to 23 kg
            </p>
          </div>
        </div>
      </div>
      <mat-divider
        *ngIf="showDepartingDetailsAndBaggage"
        class="divider"
      ></mat-divider>
      <div
        *ngIf="params.get('city') === null && returnTime !== null"
        class="row"
        style="margin-top: 20px">

        <div class="col-4">
          <h5>{{ returningDate }}</h5>
          <h6 class="flightName">{{ returnFlightName }}</h6>
          <h5 class="flightTime">{{ returnTime }}</h5>
          <button
            class="fa fa-angle-down"
            id="details-button"
            (click)="toggleReturningDetailsAndBaggage()"
          >
            Show flight and baggage fee details
          </button>
        </div>
        <div class="col-8">
          <h6><span class="fromAirport">From</span>{{ returningAirport }}</h6>
          <h6><span class="toAirport">To</span>{{ departingAirport }}</h6>
          <h5 class="flightTotalDuration">{{ returnDuration }}</h5>
          <h6 class="flightTotalStops">{{ returnTotalStops }}</h6>
        </div>
      </div>
      <mat-divider
        *ngIf="returnTime !== null && showReturningDetailsAndBaggage"
        class="divider"
      ></mat-divider>
      <div
        *ngIf="showReturningDetailsAndBaggage"
        class="row"
        style="padding-top: 20px; padding-bottom: 20px;">
        <div class="col-4">
          <h5
            *ngFor="let time of returningTimes[0]"
            style="padding-bottom: 50px">
            {{ time }}
          </h5>
          <p
            style="font-size: 15px; text-align: right; padding-top: 6px; color: #616161;"
          >
            Estimated bag fees
          </p>
        </div>
        <div class="col-8">
          <div *ngFor="let duration of returningDurations[0]; let k = index">
            <h5>{{ duration }}</h5>
            <p style="font-size: 15px; color: #616161;">
              {{ returningStops[0][k] }}
            </p>
          </div>
          <p class="baggage-fee-details" style="padding-top: 19px;">
            Carry on: No fee
          </p>
          <div *ngIf="classType === 'economy'">
            <p class="baggage-fee-details">
              1st checked bag: $30.00 up to 23 kg
            </p>
            <p class="baggage-fee-details">
              2nd checked bag: $40.00 up to 23 kg
            </p>
          </div>
          <div *ngIf="classType === 'firstclass'">
            <p class="baggage-fee-details">
              1st checked bag: No fee up to 23 kg
            </p>
            <p class="baggage-fee-details">
              2nd checked bag: No fee up to 23 kg
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4-sidebar">
      <!-- flights trip summary -->
      <div *ngIf="params.get('city') === null" class="trip-summary">
        <h4 style="font-weight: bold">Trip Summary</h4>
        <div class="adultPassengers" *ngFor="let adult of adults">
          <span>Traveler {{ adult }}: Adult</span>
          <br />
          <span class="flightSpan">
            Flight
            <p class="flightPrice">${{ flightPrice }}</p>
          </span>
        </div>
        <div *ngIf="childrensCount !== []">
          <div *ngFor="let children of childrensCount">
            <span>Traveler {{ children + adultsCount }}: Children</span>
            <br />
            <span class="flightSpan">
              Flight
              <p class="flightPrice">${{ flightPrice }}</p>
            </span>
          </div>
        </div>
        <mat-divider
          style="margin-top: 10px; margin-bottom: 10px;"
        ></mat-divider>
        <h4>
          <p class="flightTotalPrice">
            Trip Total:
          </p>
          ${{ totalFlightPrice }}
        </h4>
      </div>
    </div>
  </div>
  <br />
  <div class="row" style="width: 100%; height: 100%; margin-left:10em">
    <div class="col-8">
  <form *ngIf="params.get('city') === null && currentUser !== null" class="billing-information">
    <h5 style="font-weight: bold;">Billing Information</h5>
    <span>First name</span>
    <span class="last-name-label">Last name</span>
    <br />
    <input id="billing-first-name" />
    <input id="billing-last-name" />
    <br />
    <span>Billing address</span>
    <br />
    <input id="billing-address" />
    <br />
    <span>City</span>
    <br />
    <input id="billing-city" />
    <br />
    <span>State</span>
    <br>
    <select>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
      </select>
    <br />
    <span>Zip code</span>
    <br />
    <input id="billing-zipcode" />
    <br />
    <br />
    <h5 style="font-weight: bold;">Payment Information</h5>
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        <br>
        <br>
    <button
      *ngIf="currentUser !== null"
      class="bookings-button"
      type="submit"
      (click)="bookTrip()"
    >
      Complete Booking
    </button>
  </form>
  </div>
  <div class="col-4"></div>
  </div>
    <div *ngIf="params.get('city') !== null" class="row" style="width: 80%; height: 100%;">
      <div class="col-8-left">
          <div *ngIf="currentUser === null" class="signin-container" style="border-radius: 9px; padding-top:15px;">
              <h5>Please sign in to continue</h5>
              <button class="signin-button" (click)="navigateToLogin()">
                Click here to sign in
              </button>
            </div>
          <form *ngIf="currentUser !== null" class="billing-information">
              <h5 style="font-weight:bold; color: #3498DB">Billing Information</h5>
              <span>First name</span>
              <span class="last-name-label">Last name</span>
              <br />
              <input id="billing-first-name" />
              <input id="billing-last-name" />
              <br />
              <span>Billing address</span>
              <br />
              <input id="billing-address" />
              <br />
              <span>City</span>
              <span id="billing-state-label"> State</span>
              <span id="billing-zip-label">Zip code</span>
              <br/>
              <input id="billing-city" />
              <select id="state-label">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AR">AR</option>
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                </select>
              <input id="billing-zipcode" />
              <br/>
              <br/>
              <h5 style="font-weight:bold; color: #3498DB"> Payment Information</h5>
                 <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                 <br>
              <button
                *ngIf="currentUser !== null"
                class="bookings-button"
                type="submit"
                (click)="bookTrip()">
                Complete Booking
              </button>
            </form>
      </div>
      <div class="col-4">
        <!-- hotels trip summary -->
      <div *ngIf="params.get('city') !== null" class="trip-summary">
          <img [src]="hotelImage" alt="Hotel Image" class="hotelImage" />
          <br />
          <span class="hotelName"> {{ hotelName }}</span>
          <br />
          <span class="hotelRatings">{{ hotelRatings }}</span>
          <span class="hotelReviews">({{ hotelReviews }} reviews)</span>
          <br />
          <br />
          <span style="font-weight: bold; font-size: 15px; color: #616161;"
            >1 Room:
          </span>
          <span class="roomName">{{ roomName }}</span>
          <br />
          <br />
          <span style="font-weight: bold; font-size: 15px; color: #616161;"
            >Check-in:
          </span>
          <span class="check-in-date">{{ checkinDate }}</span>
          <br />
          <span style="font-weight: bold; font-size: 15px; color: #616161;"
            >Check-out:
          </span>
          <span class="check-in-date">{{ checkoutDate }}</span>
          <br />
          <span class="check-in-date">{{ nights }}-night stay</span>
          <mat-divider
            style="margin-top: 10px; margin-bottom: 10px;"
          ></mat-divider>
          <span
            class="hotel-price-summary-header"
            style="font-weight: bold; font-size: 15px; color: #616161;"
            >Your price summary</span
          >
          <br />
          <br />
          <div
            style="font-weight: bold; font-size: 15px; color: #616161; text-align: right"
          >
            avg/night
          </div>
          <span
          *ngIf="nights > 1"
            class="num-nights"
            style="font-weight: bold; font-size: 15px; color: #616161;"
            >{{ nights }} Nights</span
          >
          <span
          *ngIf="nights === 1"
            class="num-nights"
            style="font-weight: bold; font-size: 15px; color: #616161;"
            >{{ nights }} Night</span
          >
          <span class="roomPrice">${{ roomPrice }}</span>
          <mat-divider
            style="margin-top: 10px; margin-bottom: 10px;"
          ></mat-divider>
          <span class="trip-total" style="font-size: 15px;">Trip total:</span>
          <span class="hotelTotalPrice">${{ nights * roomPrice }}</span>
        </div>
      </div>
    </div>
</div>
