<div class="searchbar">
  <h4>Hotel stays, dream getaways</h4>
  <span style="color: #505c66"
    >Find the perfect place to stay for your next trip</span
  >
  <br />
  <br />
  <span>Going to</span>
  <br />
  <input
    class="form-control"
    style="width: 78%;
                border: 1px solid grey;
                border-radius: 5px;
                height: 40px;
                cursor: pointer"
    placeholder="City destination"
    type="search"
    #hotelDestination
    (blur)="inputBlur()"
    (keyup.enter)="inputEntered(hotelDestination)"
    (input)="filterItem(hotelDestination.value)"
  />
  <ul
    *ngIf="citiesDropdownVisible"
    class="list-group"
    (mouseenter)="toggleMouseOver(true)"
    (mouseleave)="toggleMouseOver(false)"
  >
    <li
      *ngFor="let city of temp"
      class="list-group-item"
      (click)="itemClicked(city)"
    >
      {{ city }}
    </li>
  </ul>
  <br />
  <span style="margin-right:13%">Check-in</span>
  <span>Check-out</span>
  <br />
  <div
    class="row"
    style="width: 78%; height: 10%; margin: 0; padding: 0; border: none;"
  >
    <div class="col" style="padding: 0">
      <mat-form-field class="date-picker">
        <mat-label>mm/dd/yyyy</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          (focus)="datePicker.open()"
          [min]="minDate"
          [max]="maxDate"
          (dateChange)="dateSelected('checkin', $event)"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col" style="padding: 0">
      <mat-form-field class="date-picker">
        <mat-label>mm/dd/yyyy</mat-label>
        <input
          matInput
          [matDatepicker]="datePicker1"
          (focus)="datePicker1.open()"
          [min]="minDate1"
          [max]="maxDate1"
          required
          (dateChange)="dateSelected('checkout', $event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col" style="padding-right: 0">
      <span class="counts-label" for="adultsCount">Adults(18+)</span>
      <span class="counts-label" for="childrensCount">Children(0-17)</span>
      <br />
      <select
        id="personCount"
        (change)="getPeopleCount('adult', $event.target.value)"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <select
        id="personCount"
        (change)="getPeopleCount('children', $event.target.value)"
      >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="col">
      <button
        class="search-button"
        style="width:100%"
        (click)="searchClicked()"
      >
        Search
      </button>
    </div>
  </div>
</div>
<br />
<div *ngIf="lsStatus" class="hotels-container">
  <br />
  <div style="margin-left: 10em">
    <h4 style="margin-bottom: 10px">
      Showing hotels from {{ cityDestination }}
    </h4>
    <div
      *ngFor="let hotel of hotels"
      class="row"
      [routerLink]="['/hotel', hotel?.city, hotel?.name]"
    >
      <div class="col-4">
        <img
          src="{{ hotel?.images.image1 }}"
          alt="Hotel image"
          class="hotel-image"
        />
      </div>
      <div class="col-6">
        <h5 class="hotel-name">
          {{ hotel?.name }}
        </h5>
        <p class="hotel-city">{{ hotel?.city }}</p>
        <p class="hotel-shortDesc">{{ hotel?.shortDescription }}</p>
        <br />
        <br />
        <p class="hotel-ratings-reviews">
          {{ hotel?.ratings + " (" + hotel?.reviews + " reviews)" }}
        </p>
      </div>
      <div class="col" style="padding-top: 6em;">
        <h5 class="hotel-price">
          ${{ hotel?.price }} <br />
          <p class="per-night">per night</p>
        </h5>
      </div>
    </div>
  </div>
</div>
