<div class="searchbar">
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{lang }}</option>
    </select>
  </label>
  <br>
  <h4>{{ 'LANDING.HOTEL_TAG' | translate }}</h4>
  <span id="span1">{{ 'LANDING.HOTEL_SUBTAG' | translate }}</span>
  <br />
  <br />
  <div>
    <span>{{ 'LANDING.GOING_TO' | translate }}</span>
    <br />
    <form [formGroup]="form">
      <input
        *ngIf="hotelDest === ''"
        formControlName="destination"
        class="form-control"
        id="search-input"
        placeholder="City destination"
        type="search"
        #hotelDestination
        (blur)="inputBlur()"
        (keyup.enter)="inputEntered(hotelDestination)"
        (input)="filterItem(hotelDestination.value)"
      />
      <input
        *ngIf="hotelDest !== ''"
        formControlName="destination"
        class="form-control"
        id="search-input"
        type="search"
        #hotelDestination
        [(ngModel)]="hotelDest"
        (blur)="inputBlur()"
        (keyup.enter)="inputEntered(hotelDestination)"
        (input)="filterItem(hotelDestination.value)"
      />
      <div *ngIf="invalidSearch">
        <div
          *ngIf="form.get('destination')?.invalid"
          class="alert alert-danger"
          id="error"
          style="width: 78%;"
        >
          <div *ngIf="form.get('destination')?.errors.required">
            {{ 'LANDING.ERROR2' | translate }}
          </div>
        </div>
      </div>
      <ul
        *ngIf="citiesDropdownVisible"
        class="list-group"
        (mouseenter)="toggleMouseOver(true)"
        (mouseleave)="toggleMouseOver(false)"
      >
        <li
          *ngFor="let city of temp"
          class="list-group-item"
          (click)="itemClicked(city)"
        >
          {{ city }}
        </li>
      </ul>
      <br />
      <span id="check-in-span">{{ 'LANDING.CHECK_IN' | translate }}</span>
      <span>{{ 'LANDING.CHECK_OUT' | translate }}</span>
      <br />
      <div class="row1">
        <div class="col" style="padding: 0;">
          <mat-form-field class="date-picker">
            <mat-label>mm/dd/yyyy</mat-label>
            <input
              formControlName="checkinDatePicker"
              class="form-control"
              matInput
              [matDatepicker]="datePicker"
              (focus)="datePicker.open()"
              [min]="minDate"
              [max]="maxDate"
              (dateChange)="dateSelected('checkin', $event)"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="invalidSearch">
            <div
              *ngIf="form.get('checkinDatePicker')?.invalid"
              class="alert alert-danger"
              id="error"
            >
              <div *ngIf="form.get('checkinDatePicker')?.errors.required">
                {{ 'LANDING.ERROR1' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 0">
          <mat-form-field class="date-picker">
            <mat-label>mm/dd/yyyy</mat-label>
            <input
              formControlName="checkoutDatePicker"
              class="form-control"
              matInput
              [matDatepicker]="datePicker1"
              (focus)="datePicker1.open()"
              [min]="minDate1"
              [max]="maxDate1"
              required
              (dateChange)="dateSelected('checkout', $event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker1></mat-datepicker>
          </mat-form-field>
          <div *ngIf="invalidSearch">
            <div
              *ngIf="form.get('checkoutDatePicker')?.invalid"
              class="alert alert-danger"
              id="error"
            >
              <div *ngIf="form.get('checkoutDatePicker')?.errors.required">
                {{ 'LANDING.ERROR1' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right: 0">
          <span class="counts-label" for="adultsCount">{{ 'LANDING.AUDULTS' | translate }}</span>
          <span class="counts-label" for="childrensCount">{{ 'LANDING.CHILDREN' | translate }}</span>
          <br />
          <select
            id="personCount"
            (change)="getPeopleCount('adult', $event.target.value)"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <select
            id="personCount"
            (change)="getPeopleCount('children', $event.target.value)"
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <div class="col">
          <button
            class="search-button"
            style="width:100%"
            (click)="searchClicked()"
            type="submit"
          >
            {{ 'LANDING.SEARCH' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<div *ngIf="lsStatus" class="hotels-container">
  <br />
  <div id="container-div">
    <h4 id="hotels-container-heading">
      {{ 'LANDING.SHOWING' | translate }} {{ cityDestination }}
    </h4>
    <div
      *ngFor="let hotel of hotels"
      class="row"
      [routerLink]="['/hotel', hotel?.city, hotel?.name]"
    >
      <div class="col-4">
        <img
          src="{{ hotel?.images.image1 }}"
          alt="Hotel image"
          class="hotel-image"
        />
      </div>
      <div class="col-6">
        <h5 class="hotel-name">
          {{ hotel?.name }}
        </h5>
        <p class="hotel-city">{{ hotel?.city }}</p>
        <p class="hotel-shortDesc">{{ hotel?.shortDescription }}</p>
        <p class="hotel-ratings-reviews">
          {{ hotel?.ratings + " (" + hotel?.reviews + " reviews)" }}
        </p>
      </div>
      <div class="col" style="padding-top: 6em;">
        <h5 class="hotel-price">
          ${{ hotel?.price }} <br />
          <p class="per-night">per night</p>
        </h5>
      </div>
    </div>
  </div>
</div>
