.navigate-login-button {
  color: blue;
  background: None;
  border: none;
}

.authentication-form-signup {
  width: 50%;
  margin-top: 70px;
  margin-left: 18em;
  padding: 60px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(34, 159, 242, 0.5),
    rgba(54, 255, 54, 0.583) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 420px) {
  .authentication-form-signup {
    margin: 40px 5px 40px 0px;
    width: 100%;
    padding: 30px 10px 30px 10px;
  }

  #lang {
    background-color: white;
  }

  .btn-primary {
    width: 100%;
  }
}
