
.tp-card {
   max-width: 330px;
   padding: 10px;
   margin: 10px;
}

.mat-card-title{

  max-width: 250px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.mat-card-image{

  max-width: 450px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

body {
  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.container {
  width: 400px;
  height: 15em;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  justify-content: space-between;
  align-content: space-between;
}

.item {
  padding: 10px;
  background-color: rgba(111,41,97,.3);
  border: 2px solid rgba(111,41,97,.5);
}
