<!DOCTYPE html>

<h3>Places you may like</h3>
<br>
<h4> Restaurants & Bars </h4>

<div class="row">
  <div *ngFor="let restaurant of restaurants;  let i=index">
      <div *ngIf="i<6" >
        <mat-card class = "tp-card">
         <mat-card-header>
            <div mat-card-avatar style="background-image: url({{restaurant.icon}});
            background-size: cover;"
            class = "tp-header-image"></div>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
            <mat-card-subtitle>{{restaurant.types[0]}}</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src = {{restPhotos[i]}}  alt = "Learn HTML5">
         <mat-card-content>
            <p>
               {{restaurant.formatted_address}}<br>
            </p>

         </mat-card-content>
         <mat-card-actions>
            <button mat-button (click)="myFunc(i)"> Rating {{restaurant.rating}} {{restaurant.user_ratings_total}}</button>
            <button mat-button>Read More</button>
         </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<h4> Hotels </h4>

<div class="row">
  <div *ngFor="let hotel of hotels;  let i=index">
      <div *ngIf="i<6" >
        <mat-card class = "tp-card">
         <mat-card-header>
            <div mat-card-avatar style="background-image: url({{hotel.icon}});
            background-size: cover;"
            class = "tp-header-image"></div>
            <mat-card-title>{{hotel.name}}</mat-card-title>
            <mat-card-subtitle>{{hotel.types[0]}}</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src = {{hotelPhotos[i]}}  alt = "Learn HTML5">
         <mat-card-content>
            <p>
               {{hotel.formatted_address}}<br>
            </p>

         </mat-card-content>
         <mat-card-actions>
            <button mat-button (click)="myFunc(i)"> Rating {{hotel.rating}} {{hotel.user_ratings_total}}</button>
            <button mat-button>Read More</button>
         </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<h4> Night Clubs </h4>

<div class="row">
  <div *ngFor="let club of clubs;  let i=index">
      <div *ngIf="i<6" >
        <mat-card class = "tp-card">
         <mat-card-header>
            <div mat-card-avatar style="background-image: url({{club.icon}});
            background-size: cover;"
            class = "tp-header-image"></div>
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>{{club.types[0]}}</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src = {{clubsPhotos[i]}}  alt = "Learn HTML5">
         <mat-card-content>
            <p>
               {{club.formatted_address}}<br>
            </p>

         </mat-card-content>
         <mat-card-actions>
            <button mat-button (click)="myFunc(i)"> Rating {{club.rating}} {{club.user_ratings_total}}</button>
            <button mat-button>Read More</button>
         </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
