<!DOCTYPE html>

<div class="container">
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{lang }}</option>
    </select>
  </label>
  <br>
  <br>
  <mat-checkbox
    #showHotelsInput
    [checked]="isChecked"
    (change)="checkBoxChanged()"
    class="checkbox"
    >{{ 'LANDING.HOTEL' | translate }}</mat-checkbox
  >
  <span class="fa fa-hotel" id="hotel-icon"></span>
  <mat-checkbox
    #showFlightsInput
    [checked]="!isChecked"
    (change)="checkBoxChanged()"
    class="checkbox"
    >{{ 'LANDING.FLIGHTS' | translate }}</mat-checkbox
  >
  <span class="fa fa-plane" id="flight-icon"></span>
  <br />
  <div *ngIf="showHotelsInput.checked">
      <div *ngIf="invalidSearch" class="alert alert-danger">
          {{ 'LANDING.ERROR1' | translate }}
      </div>
    <span style="color: black;">{{ 'LANDING.GOING_TO' | translate }}</span>
    <br/>
    <input
      *ngIf="hotelDest === ''"
      class="form-control"
      style="width: 100%;
                border: 1px solid grey;
                border-radius: 5px;
                height: 35px;
                cursor: pointer"
      placeholder="City destination"
      type="search"
      #hotelDestination
      (blur)="inputBlur()"
      (keyup.enter)="inputEntered('hotel', hotelDestination)"
      (input)="filterItem(hotelDestination.value, 'hotel')"
    />
    <input
      *ngIf="hotelDest !== ''"
      class="form-control"
      style="width: 100%;
                border: 1px solid grey;
                border-radius: 5px;
                height: 35px;
                cursor: pointer"
      placeholder="City destination"
      type="search"
      [(ngModel)]="hotelDest"
      #hotelDestination
      (blur)="inputBlur()"
      (keyup.enter)="inputEntered('hotel', hotelDestination)"
      (input)="filterItem(hotelDestination.value, 'hotel')"
    />
    <ul
      *ngIf="citiesDropdownVisible"
      class="list-group"
      (mouseenter)="toggleMouseOver(true)"
      (mouseleave)="toggleMouseOver(false)"
    >
      <li
        *ngFor="let city of temp"
        class="list-group-item"
        (click)="itemClicked('hotel', city)"
      >
        {{ city }}
      </li>
    </ul>
    <br />
    <span class="check-in-label">{{ 'LANDING.CHECK_IN' | translate }}</span>
    <span style="color: black;">{{ 'LANDING.CHECK_OUT' | translate }}</span>
    <br />
    <div class="row">
      <div class="col">
        <mat-form-field class="date-picker">
          <mat-label>mm/dd/yyyy</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            (focus)="datePicker.open()"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="dateSelected('checkin', $event)"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="date-picker">
          <mat-label>mm/dd/yyyy</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker1"
            (focus)="datePicker1.open()"
            [min]="minDate1"
            [max]="maxDate1"
            required
            (dateChange)="dateSelected('checkout', $event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" id="counts-column">
        <span class="counts-label" for="adultsCount">{{ 'LANDING.AUDULTS' | translate }}</span>
        <span class="counts-label" for="childrensCount">{{ 'LANDING.CHILDREN' | translate }}</span>
        <br />
        <select
          id="personCount"
          (change)="getPeopleCount('adult', $event.target.value)"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <select
          id="personCount"
          (change)="getPeopleCount('children', $event.target.value)"
        >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="col">
        <button class="search-button" (click)="passContent()">
          {{ 'LANDING.SEARCH' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showFlightsInput.checked">
    <mat-checkbox
      #showHotelsInput
      [checked]="flightType"
      (change)="typeOfFlightChanged()"
      class="checkbox2"
      >{{ 'LANDING.ROUNDTRIP' | translate }}</mat-checkbox
    >
    <mat-checkbox
      #showFlightsInput
      [checked]="!flightType"
      (change)="typeOfFlightChanged()"
      class="checkbox"
      >{{ 'LANDING.ONEWAY' | translate }}</mat-checkbox
    >
    <br />
    <mat-checkbox
      #economy
      [checked]="classType === 'economy'"
      (change)="typeOfClassChanged()"
      class="checkbox2"
      >{{ 'LANDING.ECONOMY' | translate }}</mat-checkbox
    >
    <mat-checkbox
      #firstclass
      [checked]="classType === 'firstclass'"
      (change)="typeOfClassChanged()"
      class="checkbox"
      >{{ 'LANDING.FIRST_CLASS' | translate }}</mat-checkbox
    >
    <br />
    <div *ngIf="invalidSearch" class="alert alert-danger">
        {{ 'LANDING.ERROR1' | translate }}
    </div>

    <span class="flight-spans">{{ 'LANDING.FLYING_TO' | translate }}</span>
    <span style="color: black;">{{ 'LANDING.FLYING_FROM' | translate }}</span> <br />

    <input
      *ngIf="inputFlyFrom === ''"
      class="flights-from-input"
      placeholder="City Departure"
      type="search"
      #flyingFrom
      (keyup.enter)="inputEntered('flyFrom', flyingFrom)"
      (blur)="inputBlur()"
      (input)="filterItem(flyingFrom.value, 'flyFrom')"
    />

    <input
      *ngIf="inputFlyFrom !== ''"
      class="flights-from-input"
      placeholder="City Departure"
      type="search"
      [(ngModel)]="inputFlyFrom"
      #flyingFrom
      (keyup.enter)="inputEntered('flyFrom', flyingFrom)"
      (blur)="inputBlur()"
      (input)="filterItem(flyingFrom.value, 'flyFrom')"
    />
    <ul
      *ngIf="flyingFromDropdownVisible"
      class="list-group"
      (mouseenter)="toggleMouseOver(true)"
      (mouseleave)="toggleMouseOver(false)"
    >
      <li
        *ngFor="let airport of airports1"
        id="{{ inputField }}"
        class="list-group-item"
        (click)="itemClicked('flyFrom', airport?.name)"
      >
        {{ airport?.name }}
      </li>
    </ul>
    <ul
      *ngIf="fromFlightsDropdownVisible"
      class="list-group"
      (mouseenter)="toggleMouseOver(true)"
      (mouseleave)="toggleMouseOver(false)"
    >
      <li
        *ngFor="let airport of temp"
        id="{{ inputField }}"
        class="list-group-item"
        (click)="itemClicked('flyFrom', airport)"
      >
        {{ airport }}
      </li>
    </ul>
    <input
      *ngIf="inputFlyTo === ''"
      class="flights-to-input"
      placeholder="City Destination"
      type="search"
      #flyingTo
      (keyup.enter)="inputEntered('flyTo', flyingTo)"
      (blur)="inputBlur()"
      (input)="filterItem(flyingTo.value, 'flyTo')"
    />
    <input
      *ngIf="inputFlyTo !== ''"
      class="flights-to-input"
      placeholder="City Destination"
      type="search"
      [(ngModel)]="inputFlyTo"
      #flyingTo
      (keyup.enter)="inputEntered('flyTo', flyingTo)"
      (blur)="inputBlur()"
      (input)="filterItem(flyingTo.value, 'flyTo')"
    />
    <ul
      *ngIf="flyingToDropdownVisible"
      class="list-group"
      style="margin-left: 22em"
      (mouseenter)="toggleMouseOver(true)"
      (mouseleave)="toggleMouseOver(false)"
    >
      <li
        *ngFor="let airport of airports1"
        class="list-group-item"
        (click)="itemClicked('flyTo', airport?.name)"
      >
        {{ airport?.name }}
      </li>
    </ul>
    <ul
      *ngIf="toFlightsDropdownVisible"
      class="list-group"
      style="margin-left: 22em"
      (mouseenter)="toggleMouseOver(true)"
      (mouseleave)="toggleMouseOver(false)"
    >
      <li
        *ngFor="let airport of temp"
        class="list-group-item"
        (click)="itemClicked('flyTo', airport)"
      >
        {{ airport }}
      </li>
    </ul>
    <br />
    <br />
    <span id="departing-span">{{ 'LANDING.DEPARTING' | translate }}</span>
    <span *ngIf="flightType" style="color: black;">{{ 'LANDING.RETURNING' | translate }}</span>
    <br />
    <div class="row">
      <div class="col">
        <mat-form-field class="date-picker">
          <mat-label>mm/dd/yyyy</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            (focus)="datePicker.open()"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="dateSelected('checkin', $event)"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field *ngIf="flightType" class="date-picker">
          <mat-label>mm/dd/yyyy</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker1"
            (focus)="datePicker1.open()"
            [min]="minDate1"
            [max]="maxDate1"
            required
            class="datepickers"
            (dateChange)="dateSelected('checkout', $event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" id="counts-column">
        <span class="counts-label" for="adultsCount">{{ 'LANDING.AUDULTS' | translate }}</span>
        <span class="counts-label" for="childrensCount">{{ 'LANDING.CHILDREN' | translate }}</span>
        <br />
        <select
          id="personCount"
          (change)="getPeopleCount('adult', $event.target.value)"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        <select
          id="personCount"
          (change)="getPeopleCount('children', $event.target.value)"
        >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="col">
        <button class="search-button" (click)="passContent()">
          {{ 'LANDING.SEARCH' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
