body,
html {
  height: 100%;
}

.container {
  width: 70%;
  margin-top: 70px;
  margin-left: 110px;
  padding: 60px;
  border-radius: 10px;
  /* background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
   */
  background: linear-gradient(
    45deg,
    rgba(34, 159, 242, 0.5),
    rgba(54, 255, 54, 0.583) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkbox {
  color: black;
  cursor: pointer;
}

.checkbox2 {
  color: black;
  cursor: pointer;
  margin-right: 15px;
}

.flight-spans {
  color: black;
  margin-right: 39%;
}

.flights-from-input {
  width: 48%;
  margin-right: 23px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}

.flights-to-input {
  width: 48%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}

.list-group {
  position: absolute;
  z-index: 1;
}

.date-picker {
  background-color: white;
  padding: 0;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  cursor: pointer;
}

.search-button {
  width: 100%;
  height: 50px;
  border-radius: 9px;
  margin: 0;
  cursor: pointer;
  border-color: #003e74;
  background-color: #003e74;
  color: white;
}

#counts-column {
  padding: 0;
}

.counts-label {
  color: black;
  font-size: 14px;
  padding-right: 19px;
}

#personCount {
  cursor: pointer;
  margin-right: 25px;
}

#departing-span {
  color: black;
  margin-right: 18%;
}

.check-in-label {
  color: black;
  margin-right: 19%;
}

/* fa icons */
#hotel-icon {
  padding-left: 5px;
  padding-right: 20px;
  color: white;
}

#flight-icon {
  padding-left: 5px;
  color: white;
}

/* for mobile phones */
@media screen and (max-width: 420px) {
  .container {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 45px;
    width: 100%;
  }

  .check-in-label {
    margin-right: 35%;
  }

  .date-picker {
    width: 130px;
  }

  #counts-column {
    padding-top: 10px;
    padding-left: 15px;
  }

  .search-button {
    margin-top: 15px;
  }

  .flight-spans {
    margin-right: 27%;
  }

  #departing-span {
    margin-right: 32%;
  }
}
